* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* change_bd_color_div     Start      */
.change_bg_color_div{
  min-height: 100vh;
  
}

.total_div{
padding-top:30vh;
}

.change_bg_color_div h1{
  text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue;
}

.submit_btn{
  padding: 3px 15px;
  font-size: 15px;
  outline: none;
  background: rgb(19 226 247);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  color: #fff;
}
.change-color{
  padding: 15px;
  font-size: 15px;
  outline: none;
  background: rgb(158, 208, 242);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  color: #fff;

}



.copy_btn{
  padding: 3px 25px;
  font-size: 15px;
  outline: none !important;
  background: rgb(19 226 247);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none !important;
  color: #fff;
}



.change-color:hover{
  color: #fff;
  background-color: aqua;
  
}

.change-color:focus{
  outline: 2px solid #3c5bfa;
  outline-offset: 3px;

}

/* when copy button click then color code  show positon  start  */
.Tost_message_position{
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: rgb(19 201 110);
  color:#000;
  border: 1px solid #fff;
  padding:1rem 2rem ;
  cursor: pointer;
  z-index: 999;

}

.Tost_message_animate_in{

  animation: text_animation_in 0.5s ease-in;
}

.Tost_message_animate_out{

  animation: text_animation_out 0.5s ease-in;
}

@keyframes text_animation_in{
  from{
    transform: translateX(220px);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }

}

@keyframes text_animation_out{
  from{
    transform: translateX(0px);
    opacity: 1;
  }
  to{
    transform: translateX(220px);
    opacity: 0;
  }

}

/* when copy button click then color code  show positon  ENd   */